/* Stile per la pagina */
.pagina {
  padding: 20px;
  margin-bottom:20px ;
  background-color: #eed3d3;
}

/* il titolo */
.header {
  text-align: center;
  padding: 10px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(147, 39, 50);
  border: 1px solid #000000;
}

/* tabella */
.table {
  margin-top: 20px;
  border-collapse: collapse;
}

/* legende e dati */
.table th, .table td {
  padding: 8px 12px;
  text-align: left;
}

/* legende */
.table th {
  background-color: rgb(147, 39, 50);
  color: white;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #000000;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  width: 50%;
}

/* dato */
.table td{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1 rem;
  letter-spacing: 1px;
  border: 1px solid #000000;
}

/* cerchio info */
.circle-info{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* testo info */
.testo-info{
  font-size: 1rem;
  font-weight:1000;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.modal-info-docente{
  height: 100px;
}

.modal-header{
  background-color: rgb(147, 39, 50);
  color: white;
}

.testo-docente{
  font-size: 1.1rem;
  font-weight:400;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin: 15px;
}

.modal-search-docente{
  height: 100px;
  width: 400px;
}

