<!-- TABELLA -->
<div class="sfondo"></div>
<div class="pagina container">
  <div class="header">
    <h1>I NOSTRI DOCENTI</h1>
  </div>
  <!-- PULSANTE FILTRI DOCENTE -->
  <p class="d-inline-flex gap-1">
    <button class="btn mt-3" 
    style=" border:solid 0.5px black;  background-color: white;"
    data-bs-toggle="collapse" 
    href="#searchDocenteCollapse" 
    role="button" 
    aria-expanded="false" 
    aria-controls="searchDocenteCollapse">
      FILTRI DOCENTE
      <img src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png"
      alt="" 
      style="width:15px; height:15px; margin-left:10px;">
    </button>
  </p>
  <!-- FORM FILTRI DOCENTE -->
  <div class="collapse" id="searchDocenteCollapse">
    <div class="card card-body" style="background-color:#e9ffff; border: 0px;">
      <div class="row">
        <div class="col">
          <input type="text" style="border: 0.5px solid black;" class="form-control" placeholder="Nome" [(ngModel)]="nome">
        </div>
        <div class="col">
          <input type="text" style="border: 0.5px solid black;" class="form-control" placeholder="Cognome" [(ngModel)]="cognome">
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="search()">CERCA</button>
        </div>
      </div>
    </div>
  </div>
  <!-- TABELLA DOCENTI -->
  <table class="table mt-3">
    <thead class="thead-dark prop">
      <tr>
        <th scope="col">NOME</th>
        <th scope="col">COGNOME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docente of docenti">
        <td>{{ docente.nome }}</td>
        <td>{{ docente.cognome }}</td>
        <td>
          <button class="circle-info btn btn-info" 
          (click)="showInfo(docente)"
          data-bs-toggle="modal"
          data-bs-target="#infoDocenteModal">
            <i class="testo-info">i</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL INFO DOCENTE -->
<div class="modal fade" 
id="infoDocenteModal" 
data-bs-backdrop="static" 
data-bs-keyboard="false" 
tabindex="-1" 
aria-labelledby="infoDocenteModalLabel" 
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-info-docente">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="infoDocenteModalLabel">{{docenteSelect.nome}} {{docenteSelect.cognome}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="d-flex justify-content-between">
            <span class="legenda-modal">Nome:</span>
            <span class="dato-modal">{{ docenteSelect.nome }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="legenda-modal">Cognome:</span>
            <span class="dato-modal">{{ docenteSelect.cognome }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="legenda-modal">Corsi:</span>
            <span class="dato-modal" *ngIf="docenteSelect.listaCorsi?.length === 0">nessun corso</span>
            <span class="dato-modal" *ngIf="docenteSelect.listaCorsi.length > 0">
              <ng-container *ngFor="let corso of docenteSelect.listaCorsi">{{ corso }}, </ng-container>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" 
          class="btn btn-primary mt-3" 
          data-bs-dismiss="modal">INDIETRO</button>
        </div>
      </div>
    </div>
  </div>
</div>
