.navbar {
  background-color: #2a8787;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;  
}

.navbar-brand{
  margin-left:40px;
}

.dropdown-menu{
  background-color: #cbeaea;
}

.text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  top: -1;
}

.text-dropdown {
  color: #000000;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}