<!-- ALERT DOCENTE MDOIFICATO -->
<div *ngIf="docenteModificato" class="alert alert-success alert-floating">
  Docente Modificato
</div>
<!-- TABELLA -->
<div class="pagina container mt-4">
  <div class="header">
    <h1>Elenco dei Docenti</h1>
  </div>
  <table class="table">
    <thead class="thead-dark prop">
      <tr>
        <th scope="col" class="id">id</th>
        <th scope="col" class="nome legenda">NOME</th>
        <th scope="col" class="cognome legenda">COGNOME</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable-row" 
      (click)="selectDocente(docente.id)" 
      data-bs-toggle="modal" 
      data-bs-target="#staticBackdrop" 
      *ngFor="let docente of docenti()">
        <td class="id">{{ docente.id }}</td>
        <td>{{ docente.nome }}</td>
        <td>{{ docente.cognome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- MDOAL -->
<div class="modal fade" id="staticBackdrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">MODIFICA DOCENTE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #docenteForm="ngForm">
          <div class="mb-3">
            <label class="form-label">ID {{idDocente}} </label>
          </div>
          <div class="mb-3">
            <label for="docenteNome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="docenteNome" [(ngModel)]="docenteSelect.nome" name="nome">
          </div>
          <div class="mb-3">
            <label for="docenteCognome" class="form-label">Cognome:</label>
            <input type="text" class="form-control" id="docenteCognome" [(ngModel)]="docenteSelect.cognome" name="cognome">
          </div>
          <div>
            <label for="docenteCorso" class="form-label">Corsi:</label>
          </div>
          <div class="mb-3">
            <button type="button" 
            class="btn btn-outline-secondary m-1" 
            *ngFor="let corso of docenteSelect.listaCorsi">{{corso}}
            </button>
            <button
            type="button"
            class="btn btn-secondary m-1">+</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
        (click)="this.getAllDocenti()" 
        class="btn btn-secondary" 
        data-bs-dismiss="modal">ANNULLA</button>
        <button type="button" 
        class="btn btn-primary" 
        (click)="updateDocente(idDocente,docenteForm)"
        data-bs-dismiss="modal">SALVA</button>
      </div>
    </div>
  </div>
</div>