<div class="sfondo"></div>
<div class="contenuto">
  <div class="container-fluid">
    <header class="testo-superiore">Benvenuti all' <span style="color: #2a8787;">Università di Urbino</span></header>
    <h1 class="testo-inferiore">
      Un ateneo con una tradizione di eccellenza, dove l'innovazione accademica incontra un ambiente ricco di storia e cultura. Offriamo corsi moderni, opportunità di ricerca e un'esperienza unica che ti prepara al futuro. Unisciti a noi per crescere, imparare e fare la differenza.
    </h1>
    <button class="btn accedi-button">ACCEDI</button>
  </div>
</div>